{% extends "base/base.html" %}
{% load static %}
    {% block title %}
        #{{car.plate_number}} booking for @{{user.username}}|Kmr Wheels
    {% endblock title %}
    
    {% block custom_style %}
        <link rel="stylesheet" href={% static "css/booking/style.css" %}>
        <link rel="stylesheet" href={% static "css/booking/booking.css" %}>
    {% endblock custom_style %}

    {% block custom_script %}
        <script src={% static "js/modal-trigger.js" %}></script>
        <script src={% static "js/timer.js" %}></script>
    {% endblock custom_script %}

    {% block user_logged %}
        {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/user/rentals">My Rentals</a>
                </li>
                <br>
                <li class="nav-item dropdown custom-dropdown-toggle">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
                <div class="profile-badge">
                    <a href="/user/login" class="btn">Login</a>
                </div>
                <div class="profile-badge">
                    <a href="/user/register" class="btn">Sign Up</a>
                </div>
        {% endif %}
    {% endblock user_logged %}
    {% block vechile %}   
                <div class="container booking-container">
                    <u><h2>Booking Confirmation</h2></u>
                    {% if is_booked %}
                       
                    {% else %}
                        <h4 class="text-center text-danger text-uppercase mb-4 mt-3">
                            <span id="timer"></span>
                        </h4>
                    {% endif %}    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card h-100 d-flex flex-column">
                                <!-- Image Section -->
                                <div class="fixed-img-size position-relative">
                                    <img src='{{ image.image }}' class="card-img-top img-thumbnail" alt="{{ car.brand }} {{ car.model }}">
                                    <span class="badge available-status position-absolute top-0 start-0 m-2 {{ car.availability_status }}">{{ car.availability_status }}</span>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body d-flex flex-column justify-content-between" style="background-color: rgba(79, 93, 181, 0.1);">
                                    <!-- Car Title -->
                                    <h5 class="card-title text-center">{{ car.year }} {{ car.brand }} {{ car.model }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-md text-center mt-4">Car Details</h5>
                            <p><strong>Car Plate:</strong> {{car.plate_number}} </p>
                            <p><strong>Rental Price:</strong> Rs. {{ car.rental_rate_per_hour }} /hr</p>
                            {% if is_booked %}
                                <button class="btn btn-success mt-3 w-100 btn-md" disabled> Confirmed </button>
                            {% else %}
                                <!-- Confirmation Form -->
                                <form id="confirmation-form" method="POST" action="{% url 'car_booking' car_id=car.vechile_id %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="termsCheck">
                                        <label class="form-check-label" for="termsCheck">I agree to the <a href="/terms">terms and services</a></label>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3 w-100 btn-md" id="submitButton" disabled>Confirm Booking</button>
                                </form>
                                <script>
                                    document.getElementById('termsCheck').addEventListener('change', function() {
                                        document.getElementById('submitButton').disabled = !this.checked;
                                    });
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>

        {% comment %} modal working don't change {% endcomment %}
        {% if messages %}
            <div id="message-type" data-type="{% for message in messages %}{{ message.tags }}{% endfor %}"></div>
        {% endif %}
        <div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                <div class="modal-content"> 
                    <div class="modal-body text-center p-lg-4"> 
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" /> 
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" X2="34.4" y2="92.2" /> 
                        </svg> 
                        <h4 class="text-danger mt-3">Error</h4> 
                        <p class="mt-3">{% for message in messages %}{{ message }}{% endfor %}</p>
                        <button type="button" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Ok</button> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                <div class="modal-content"> 
                    <div class="modal-body text-center p-lg-4"> 
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
                        </svg> 
                        <h4 class="text-success mt-3">Success</h4> 
                        <p class="mt-3">{% for message in messages %}{{ message }}{% endfor %}</p>
                        <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button> 
                    </div> 
                </div> 
            </div> 
        </div>
    {% endblock vechile %}