{% extends "base/base.html" %}
{% load static %}

{% block title %}
kmrwheels - 500
{% endblock title %}

{% block custom_style %}
<link rel="stylesheet" href={% static "css/error/index.css" %}>
{% endblock custom_style %}

{% block user_content %}
    <div class="err-container mx-auto">
        <div class="error-container">
            <div class="error-title">500</div><hr>
            <div class="error-description">Not you..! it's us. we are working on it.</div>
            <a href="/" class="btn-home btn-primary">Go to Home</a>
        </div>
    </div>
{% endblock user_content %}