{% extends "base/base.html" %}
{% load static %}
    {% block title %}
        @{{ user.username }}- rentals| kmrwheels
    {% endblock title %}

    {% block custom_style %}
        <link rel="stylesheet" href={% static "css/user/rentals.css" %}>
    {% endblock custom_style %}

    {% block custom_script %}
        <script src={% static "js/booking-tab.js" %}></script>
    {% endblock custom_script %}
    {% block user_logged %}
        {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/user/rentals">My Rentals</a>
                </li>
                <br>
                <li class="nav-item dropdown custom-dropdown-toggle">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
                <div class="profile-badge">
                    <a href="/user/login" class="btn">Login</a>
                </div>
                <div class="profile-badge">
                    <a href="/user/register" class="btn">Sign Up</a>
                </div>
        {% endif %}
    {% endblock user_logged %}

    {% block user_content %}
        <div class="container mt-3 rental-contianer">
            <div class="top-bars w-100 mt-2">
                <div id="cars-tab" class="rental-tab active" data-target="cars-list">
                    <h3>Cars</h3>
                </div>
                <div id="bikes-tab" class="rental-tab" data-target="bikes-list">
                    <h3>Bikes</h3>
                </div>
            </div>
            <div id="cars-list" class="rental-list active" >
                {% for car in cars %}
                    {{car}}
                    <hr>
                {% endfor %}
            </div>
            <div id="bikes-list" class="rental-list">
                {% for bike in bikes %}
                    {{bike}}
                    <hr>
                {% endfor %}
            </div>
        </div>
    {% endblock user_content %}
